@font-face {
  font-family: cafe;
  src: url(louis_george_caf/Louis-George-Cafe.ttf);
}

@font-face {
  font-family: cafe1;
  src: url(louis_george_caf/Louis-George-Cafe-Bold.ttf);
}

@font-face {
  font-family: cafe2;
  src: url(louis_george_caf/Louis-George-Cafe-Light-Italic.ttf);
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

h1 {
  font-family: cafe1;
}

h3 {
  font-family: cafe2;
}

body {
  display: flex;
  justify-content: center;
  font-family: cafe;
  background: #9e90c1;
  background-image: url("birch laves.png");
  background-repeat: repeat-x;
}

#container {
  position: relative;
  top: 50px;
  width: 550px;
  bottom: 50px;
}

#hero-image {
  display: flex;
  justify-content: center;
}

#hero-image img {
  width: 300px;
  height: 300px;
}

#content-box {
  border-radius: 25px;
  background: #bbade1;
  padding: 20px;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

ul {
  position: relative;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

a {
  font-family: cafe1;
  color: #2d009e;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  border-radius: 25px;
  background: #bbade1;
}
