@font-face {
  font-family: cafe;
  src: url(louis_george_caf/Louis-George-Cafe.ttf);
}

@font-face {
  font-family: cafe1;
  src: url(louis_george_caf/Louis-George-Cafe-Bold.ttf);
}

@font-face {
  font-family: cafe2;
  src: url(louis_george_caf/Louis-George-Cafe-Light-Italic.ttf);
}

/**************************************************/
#left {
  position: relative;
  left: 70px;
  top: 50px;
  padding: 5px;
  width: 200px;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left:0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/********************/

#right {
  position: relative;
  top: 50px;
  left: 500px;
  padding: 5px;
  width: 200px;
}

#slider2 {
  overflow: hidden;
}

#slider2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
}

#slider2 figure img {
  width: 20%;
  float: left;
}

@keyframes slider2 {
  0% {
    right: 0;
  }
  20% {
    right: 0;
  }
  25% {
    right: -100%;
  }
  45% {
    right: -100%;
  }
  50% {
    right: -200%;
  }
  70% {
    right: -200%;
  }
  75% {
    right: -300%;
  }
  95% {
    right: -300%;
  }
  100% {
    right: -400%;
  }
}
/*****************************************************/

h1 {
  font-family: cafe1;
}

h3 {
  font-family: cafe2;
}

body {
  display: flex;
  justify-content: center;
  font-family: cafe;
  background-color: #9e90c1;
  background-image: url("steve-action.png"), url("alex-action.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 100px top 1500px, right 110px bottom 700px;
}

#container {
  position: relative;
  top: 50px;
  left: -200px;
  width: 550px;
  bottom: 50px;
}

#hero-image {
  display: flex;
  justify-content: center;
}

#hero-image img {
  width: 300px;
  height: 300px;
}

#content-box {
  border-radius: 25px;
  background: #bbade1;
  padding: 20px;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

ul {
  position: relative;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

a {
  font-family: cafe1;
  color: #2d009e;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  border-radius: 25px;
  background: #bbade1;
}
